django==3.0.7
django-cors-headers==3.4.0
pandas==1.0.5
numpy==1.19.1
python-dateutil==2.8.1
six==1.15.0
xarray==0.16.0
rasterio==1.1.5
scipy==1.5.2
pyzmq==19.0.2
requests==2.22.0
shapely==1.7.1
Fiona==1.8.18
geopandas==0.8.1
rasterstats==0.15.0
rioxarray==0.1.1
simplejson==3.17.2
netCDF4==1.5.5.1